body { 
	background-image: url("background.png"); 
}

.hero-unit { 
	background-color: #fff; 
}

@media (min-width: 800px) {
	.hero-unit { 
		background-color: #fff;
		width: 50%;
		margin: 0 auto;
	}
}

.center { 
	display: block; 
	margin: 0 auto; 
}

.center-cropped {
    width: 400px;
    height: 400px;
    background-position: center center;
    background-repeat: no-repeat;
}