body { 
	background-image: url("background.png"); 
}

.hero-unit { 
	background-color: #fff; 
}

@media (min-width: 800px) {
	.hero-unit { 
		background-color: #fff;
		width: 50%;
		margin: 0 auto;
	}
}

.center { 
	display: block; 
	margin: 0 auto; 
}

.center_image {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.center_image img {
    width: 200px;
}