body { 
	background-image: url("background.png"); 
}


.hero-unit { 
	background-color: #fff; 
}

@media (min-width: 550px) {
	.hero-unit { 
		background-color: #fff;
        display: inline-block;
        text-align: center;
	}
}

.center { 
	display: block; 
	margin: 0 auto; 
}
